BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
AccessModifierOffset: -4
FixNamespaceComments: false
PointerAlignment: Middle